/* Desktop styles */
.signInContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 247, 253);
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: .7rem;
}

.field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.field input {
    font-size: 1.2rem;
    height: 1.5rem;
    color: rgb(118, 116, 116);
    border-radius: 0.5rem;
    margin: 0.4rem;
    border: 2px solid rgb(218, 218, 219);
    outline: none;
    padding: 4%;
}

.button {
    width: 40%;
    padding: 1%;
    background-color: #4a15ad;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #4a15ad;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-top: 2%;
    text-decoration: none;
    transition: all 0.3s linear;
    font-size: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .signInContainer {
        width: 90%;
        margin-top: 2rem;
        padding: 1rem;
    }

    .field input {
        font-size: 1rem;
        height: 1.2rem;
        padding: 3%;
    }

    .button {
        width: 80%;
        padding: 2%;
        font-size: 18px;
    }
}

/* .signInContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
    background-color: rgb(241, 247, 253);
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: .7rem;
}
.field{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.field input{
    font-size: 1.2rem;
    height: 1.5rem;
    color: rgb(118, 116, 116);
    border-radius: 0.5rem;
    margin: 0.4rem;
    border:2px solid rgb(218, 218, 219);
    outline: none;
    padding:4%
}
.button{
    width: 40%;
    padding: 1%;
    background-color: #4a15ad;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #4a15ad;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-top: 2%;
    text-decoration: none;
    transition: all 0.3s linear;
    font-size: 20px;
} */

